@using LibraryService.Services;
@using LibraryService.Data.Models;

@page "/Books"

<h1>Books</h1>



@if (!AddingNewBook)
{
    @if (Books == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <input type="button" @onclick=Adding value="Add New Book" />
        <input class="form-control mb-2 mr-sm-2" style="margin-top: 8px" type="text" @bind="searchCriteria" placeholder="Search" />
        <input class="btn btn-primary" type="button" @onclick=Search value="Search" />
        <input class="btn btn-primary" type="button" @onclick=Clear value="Clear" />

        <table class="table" style="margin-top: 8px">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Series</th>
                    <th>Series No.</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Books)
                {
                    <tr>
                        <td>@book.Title</td>
                        <td>@book.Author</td>
                        <td>@book.Series</td>
                        <td>@book.SeriesNo</td>
                        <td></td>
                        <td><input type="button" @onclick="() => OpenDialog(book)" value="Delete" /></td>
                        <td><input type="button" @onclick="() => EditBook(book)" value="Edit" /></td>
                        <td><input type="button" @onclick="() => GetHistory(book)" value="History" /></td>
                    </tr>                  
                }
            </tbody>
        </table>
    }
}


@if (AddingNewBook)
{
    <div>
        <h2>Adding New Book</h2>
        <div>
            <label>Title</label>
            <input class="form-control" type="text" @bind="CurrentBook.Title" />
        </div>
        <div>
            <label>Author</label>
            <input class="form-control" type="text" @bind="CurrentBook.Author" />
        </div>
        <div>
            <label>Series</label>
            <input class="form-control" type="text" @bind="CurrentBook.Series" />
        </div>
        <div>
            <label>Series No.</label>
            <input class="form-control" type="text" @bind="CurrentBook.SeriesNo" />
        </div>
        <input class="btn btn-primary" type="button" @onclick=SaveBook value="Save" />
        <input class="btn btn-primary" type="button" @onclick=NotAdding value="Cancel" />
    </div>
}

@if (CheckBookHistory)
{
    <table class="table" style="margin-top: 8px">

        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                </tr>
            }
        </tbody>
    </table>
}

@if (DialogIsOpen)
{
    <Dialog Caption="Delete the book"
        Message="@message"
        OnClose="@OnDialogClose"
        Type="Dialog.Category.DeleteNot">
    </Dialog>
}



@code {

    private bool AddingNewBook = false;
    private bool CheckBookHistory = false;
    private BookService _bookService;
    private UserService _userService;
    private List<Book> Books = new List<Book>();
    private List<User> users = new List<User>();
    private List<BookHistory> histories = new List<BookHistory>();
    private Book CurrentBook;
    private int bookNo;
    private bool DialogIsOpen = false;
    private string searchCriteria = string.Empty;
    private string message;

    protected override async Task OnInitializedAsync()
    {
        _bookService = new BookService();
        _userService = new UserService();
        GetBooks();
    }

    private void GetBooks()
    {
        Books = _bookService.GetAllBooks();
    }

    private void NotAdding()
    {
        AddingNewBook = false;
        CheckBookHistory = false;
    }

    private void Adding()
    {
        CurrentBook = new Book();
        AddingNewBook = true;
    }

    private void EditBook(Book book)
    {
        if (book != null)
        {
            CurrentBook = book;
        }
        AddingNewBook = true;
    }


    private void SaveBook()
    {
        if (AddingNewBook == true)
        {
            _bookService.SaveBook(CurrentBook);
        }

        GetBooks();
        NotAdding();
    }

    private void OpenDialog(Book book)
    {
        DialogIsOpen = true;
        bookNo = book.BookId;
        message = "Do you want to delete \"" + book.Title + " by " + book.Author + "\"?";
    }

    private async Task OnDialogClose(bool isOk)
    {
        if (isOk)
        {
            _bookService.DeleteBook(bookNo);
            GetBooks();
        }
        DialogIsOpen = false;
    }

    private void GetHistory(Book book)
    {
        histories = _bookService.ReturnBookHistory(book.BookId);
        users = _userService.GetBorrowersFromHistory(histories);
        CurrentBook = book;
        if (CheckBookHistory == true)
        {
            CheckBookHistory = false;
        }
        else
        {
            CheckBookHistory = true;
        }
    }

    private void Search()
    {
        Books = _bookService.SearchBooks(searchCriteria);
    }

    private void Clear()
    {
        searchCriteria = string.Empty;
        GetBooks();
    }
}
