@using LibraryService.Services;
@using LibraryService.Data.Models;

@page "/Books"

<h1>Books</h1>



@if (!AddingNewBook)
{
    @if (Books == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <input type="button" @onclick=Adding value="Add New Book" />
        <input class="form-control mb-2 mr-sm-2" type="text" @bind="searchCriteria" placeholder="Search" />
        <input class="btn btn-primary" type="button" @onclick=Search value="Search" />
        <input class="btn btn-primary" type="button" @onclick=Clear value="Clear" />

        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Series</th>
                    <th>Series No.</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Books)
                {
                    <tr>
                        <td>@book.Title</td>
                        <td>@book.Author</td>
                        <td>@book.Series</td>
                        <td>@book.SeriesNo</td>
                        <td></td>
                        <td><input type="button" @onclick="() => OpenDialog(book)" value="Delete" /></td>
                        <td><input type="button" @onclick="() => EditBook(book)" value="Edit" /></td>
                    </tr>
                }
            </tbody>
        </table>
    }
}


@if (AddingNewBook)
{
    <div>
        <h2>Adding New Book</h2>
        <div>
            <label>Title</label>
            <input class="form-control" type="text" @bind="BookToAdd.Title" />
        </div>
        <div>
            <label>Author</label>
            <input class="form-control" type="text" @bind="BookToAdd.Author" />
        </div>
        <div>
            <label>Series</label>
            <input class="form-control" type="text" @bind="BookToAdd.Series" />
        </div>
        <div>
            <label>Series No.</label>
            <input class="form-control" type="text" @bind="BookToAdd.SeriesNo" />
        </div>
        <input class="btn btn-primary" type="button" @onclick=SaveBook value="Save" />
        <input class="btn btn-primary" type="button" @onclick=NotAdding value="Cancel" />
    </div>
}

@if (DialogIsOpen)
{
    <Dialog Caption="Delete the book"
            Message="@message"
            OnClose="@OnDialogClose"
            Type="Dialog.Category.DeleteNot">
    </Dialog>
}



@code {

    private bool AddingNewBook = false;
    private BookService _bookService;
    private List<Book> Books = new List<Book>();
    private Book BookToAdd;
    private int bookNo;
    private bool DialogIsOpen = false;
    private string searchCriteria = string.Empty;
    private string message;

    protected override async Task OnInitializedAsync()
    {
        _bookService = new BookService();
        GetBooks();
    }

    private void GetBooks()
    {
        Books = _bookService.GetAllBooks();
    }

    private void NotAdding()
    {
        AddingNewBook = false;
    }

    private void Adding()
    {
        BookToAdd = new Book();
        AddingNewBook = true;
    }

    private void EditBook(Book book)
    {
        if (book != null)
        {
            BookToAdd = book;
        }
        AddingNewBook = true;
    }


    private void SaveBook()
    {
        if (AddingNewBook == true)
        {
            _bookService.SaveBook(BookToAdd);
        }

        GetBooks();
        NotAdding();
    }

    private void OpenDialog(Book book)
    {
        DialogIsOpen = true;
        bookNo = book.BookId;
        message = "Do you want to delete \"" + book.Title + " by " + book.Author + "\"?";
    }

    private async Task OnDialogClose(bool isOk)
    {
        if (isOk)
        {
            _bookService.DeleteBook(bookNo);
            GetBooks();
        }
        DialogIsOpen = false;
    }

    //private void DeleteBook(Book book)
    //{
    //    _bookService.DeleteBook(book.BookId);
    //    GetBooks();
    //}

    private void Search()
    {
        Books = _bookService.SearchBooks(searchCriteria);
    }

    private void Clear()
    {
        searchCriteria = string.Empty;
        GetBooks();
    }
}
